<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServiceBusConfiguration" type="FireAndForget.Configuration.ServiceBusConfigurationSection, FireAndForget"/>
  </configSections>
  
  <appSettings>
    <add key="repository" value="FireAndForget.Core.Persistence.SqlServerRepository, FireAndForget.Core"/>
  </appSettings>
  <connectionStrings>
    <add name="sqlserver" connectionString="Server=localhost;Database=FireAndForget;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <ServiceBusConfiguration>
    <Server uri="http://localhost:2900"/>
    <Workers>
      <Worker name="default"/>
      <Worker name="test"/>
    </Workers>
    <Executors>
      <Executor worker="default" type="FireAndForget.TestClient.TaskExecutors.DefaultTaskExecutor, FireAndForget.TestClient"/>
      <Executor worker="test" type="FireAndForget.TestClient.TaskExecutors.TestTaskExecutor, FireAndForget.TestClient"/>
    </Executors>
  </ServiceBusConfiguration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>